registry="https://registry.npmmirror.com"
@ytfee:registry="https://nexus.devops.yitong.com/repository/npm-yitong"
sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
cypress_download_mirror="https://npmmirror.com/mirrors/cypress/"
electron_mirror="https://npmmirror.com/mirrors/electron/"
profiler_binary_host_mirror="https://npmmirror.com/mirrors/node-inspector/"